<%- include('layouts/header') %>
    <div class="jumbotron bg-transparent">
        <h1 class="display-3 text-uppercase">chuyen cua toi ngay xua</h1>
        <p class="lead text-uppercase">do ham choi dua doi</p>
        <hr class="my-2">
    </div>
    <%- include('layouts/footer') %>