<%- include('../../layouts/header') %>
    <div class="container">
        <p class="h1 text-center text-uppercase text-success py-3 font-weight-bold">add a new continent</p>
        <div class="row justify-content-center">
            <div class="col-8">
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="" class="h5">Name:</label>
                        <input type="text" name="name" class="form-control rounded-0" placeholder="Enter name...">
                    </div>
                    <div class="form-group">
                        <label for="" class="h5">Status:</label>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="status" value="0">
                                Hidden
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="status" value="1" checked>
                                Display
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-success btn-block rounded-0">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <%- include('../../layouts/footer') %>